My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        -96
      ],
      "id": "080482c1-b9a2-40ca-87e0-2aadbfa0544d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RrWzi5gug00vbMqBqFwgXoZk_Nz51L1BbbmjxPmZ3Vo",
          "mode": "list",
          "cachedResultName": "Product_Base",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrWzi5gug00vbMqBqFwgXoZk_Nz51L1BbbmjxPmZ3Vo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RrWzi5gug00vbMqBqFwgXoZk_Nz51L1BbbmjxPmZ3Vo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -96
      ],
      "id": "f0b504c7-f563-40ef-8250-85053867d7f6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3BZnxrIORk0fgfIv",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ Process all Airtable records into a clean JSON array\nconst cleanedData = $input.all().map(item => {\n  const record = item.json;\n\n  return {\n    id: record.ID,\n    cost: parseFloat(record.Cost),\n    category: record.Category,\n    name: record.Name,\n    brand: record.Brand,\n    retail_price: parseFloat(record.Retail_Price),\n    profit_margin: parseFloat(record.Retail_Price) - parseFloat(record.Cost),\n    department: record.Department,\n    sku: record.SKU,\n    distribution_center_id: record.distribution_center_ID\n  };\n});\n\n// ✅ Return a single item with the array inside `records`\nreturn [\n  {\n    json: {\n      records: cleanedData\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -96
      ],
      "id": "d791f592-9166-4705-9469-1887b63765af",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI report formatter. Convert the following plain-text report into a professionally formatted HTML email.\n\nRequirements:\n- Start with: \"Hey Everyone<br><br>Good morning! Hope you had an amazing weekend.<br>Sharing the monthly report for the last whole month.\"\n- Use <h2> or <h3> for section headers.\n- Use <strong> for key labels and values.\n- Use <p> for paragraphs and <ul>/<ol> for lists where appropriate.\n- Use tables (<table>, <tr>, <th>, <td>) for structured data like brand counts or metrics.\n- Highlight important metrics using <blockquote> or <div> with subtle styling.\n- At the end, include this signature:\n\n  <br><br>Thanks,<br>Regards,<br><strong>Abinaya</strong><br>Product Manager<br>RetailStockAnalyst\n\n- End with this note, in bold:\n\n  <br><br><strong>Note:</strong> Also just mention this report is generated for demo purposes via Automated workflow on n8n Low/ No Code Tool.\n\nDo not include ```html or triple backticks anywhere. The output should be a valid HTML snippet that can be pasted into an n8n email node.\n\nHere is the content to format:\n{{ $json.output }} \n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1248,
        -96
      ],
      "id": "f7c2f698-8a55-4296-ac0d-d7bf60cb1214",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "8VRzjiWoXl2xJf7P",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sriabinaya@gmail.com",
        "subject": "Monthly Report",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        -96
      ],
      "id": "31187b07-4df2-4052-8538-bf31ba70ed14",
      "name": "Send a message",
      "webhookId": "06fa0218-e3ff-4c0c-a9d2-59436bdbf893",
      "credentials": {
        "gmailOAuth2": {
          "id": "iJwykXaluQ5eX1nS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a meticulous product data analyst. Please analyze this exact product catalog data and create a structured, data-driven report with deeper insights.\n\nHere is the detailed product dataset:\n\n{{ $json.records.map((item, index) => `${index + 1}. ${item.name}\n- Category: ${item.category}\n- Department: ${item.department}\n- Brand: ${item.brand}\n- SKU: ${item.sku}\n- Cost: $${item.cost}\n- Retail Price: $${item.retail_price}\n- Profit Margin: $${(item.retail_price - item.cost).toFixed(2)}`).join('\\n\\n') }}\n\n---\n\n### Please use this **exact structure** for your response:\n\n1. **Executive Summary**\n   - Provide 2–3 high-level findings about pricing, margins, or trends.\n   - Mention any interesting overall pattern in the dataset.\n\n2. **Key Metrics**\n   - Total number of products\n   - Average profit margin (calculate it)\n   - Highest and lowest profit margin\n\n3. **Top Brands**\n   - List top 3 brands by number of products\n   - Provide counts for each\n\n4. **Retail Pricing by Category**\n   - Category with highest average retail price\n   - Category with lowest average retail price\n\n5. **Profit Margins by Department**\n   - Department with highest average profit margin\n   - Department with lowest average profit margin\n\n6. **Outlier Products**\n   - Identify 3 products with **very high** profit margins\n   - Identify 3 products with **very low** or negative margins\n\nUse **bullet points or tables** where appropriate.\nEnsure insights are easy to follow. **Store the entire dataset in memory** for follow-up queries.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        -96
      ],
      "id": "23c4e174-df82-47c3-ac3c-cb28fdb49784",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        112
      ],
      "id": "4bcdf04c-90f1-4d47-acbd-b4ba2fbdb1d3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8VRzjiWoXl2xJf7P",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {
    "AI Agent": [
      {
        "json": {
          "output": "**1. Executive Summary**\n- The dataset reveals a strong focus on premium pricing, especially within brands like ASICS, with some products showcasing exceptionally high profit margins, exceeding $500. \n- The majority of products maintain healthy profit margins, often ranging between $10 and $30, indicating consistent profitability across categories.\n- High-value products, particularly in the \"Active,\" \"Swim,\" and \"Suits\" categories, often feature significantly inflated profit margins, suggesting their premium positioning or markup strategies.\n\n**2. Key Metrics**\n- **Total number of products:** 518\n- **Average profit margin:** approximately **$25.96** per product\n  - *Calculation:* Sum of all profit margins divided by 518\n- **Highest profit margin:** **$529.16** (Product SKU: E27A949795BBE863F31C3B79A2686770, Brand: ASICS, Category: Active)\n- **Lowest profit margin:** **-$0.02** (product with negligible loss, SKU: 8F831227B0EB6C6D09A0555531365933, Brand: TYR, Category: Swim)\n\n**3. Top Brands by Number of Products**\n| Brand     | Number of Products |\n|------------|--------------------|\n| **TYR**  | 36                   |\n| **Patty**| 29                   |\n| **C-IN2**| 29                   |\n| **ASICS**| 27                   |\n| **ECHO** | 17                   |\n| Others (less frequent) | Remaining products |\n\n*(Note: Exact counts are approximate based on dataset parsing)*\n\n**4. Retail Pricing by Category**\n| Category                   | Average Retail Price |\n|----------------------------|---------------------|\n| **Suits**                 | ~$70.51             |\n| **Active**                | ~$65.32             |\n| **Swim**                  | ~$76.64             |\n| **Dresses**               | ~$43.60             |\n| **Fashion Hoodies & Sweatshirts** | ~$58.20             |\n| **Others (e.g., Socks, Shorts)** | ~$30–$50             |\n\n- **Category with highest average retail price:** *Suits* (~$70.51)\n- **Category with lowest average retail price:** *Socks* (~$11.70)\n\n**5. Profit Margins by Department**\n| Department            | Average Profit Margin |\n|-----------------------|-----------------------|\n| **Accessories**       | ~$13.50               |\n| **Swim**              | ~$28.50               |\n| **Active**            | ~$23.80               |\n| **Dresses**           | ~$25.40               |\n| **Suits**             | ~$38.40               |\n| **Sleep & Lounge**    | ~$23.00               |\n\n- **Highest average profit margin:** *Suits* (~$38.40)\n- **Lowest average profit margin:** *Accessories* (~$13.50)\n\n**6. Outlier Products**\n- **Very High Profit Margins:**\n  - **ASICS Active Product:** SKU: E27A949795BBE863F31C3B79A2686770, Profit Margin: **$529.16**\n  - **ASICS Active Product:** SKU: 4F1F29888CABF5D45F866FE457737A23, Profit Margin: **$19.47** (not as high but significant)\n  - **Onia Swim Product:** SKU: 646E058FAC455DE8D1E52C4C49BAAC06, Profit Margin: **$71.27**\n- **Very Low or Negative Profit Margins:**\n  - **TYR Swim Product:** SKU: 8F831227B0EB6C6D09A0555531365933, Profit Margin: **−$0.02**\n  - **HDE Accessories:** SKU: AA2C576BFEB26B7D269793A6F40D1961, Profit Margin: **$2.23**\n  - **Meg Price point products with negligible or minimal margins** tend to cluster in lower-margin categories like Accessories and Socks.\n\n---\n\n**Summary:**  \nThe dataset demonstrates a spectrum of product profitability, with the most lucrative items being in the athletic \"Suits,\" \"Active,\" and \"Swim\" categories, especially from brands like ASICS and Onia. Higher-priced items tend to carry much larger profit margins, often in the triple digits, indicating premium positioning or strategic markup. Conversely, some lower-margin or loss-leading products are primarily in accessories and basic essentials, emphasizing the importance of category and brand positioning in overall profitability."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4c992cd1-a5b8-4a63-8ddb-a972c13c094f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b320f49965c54f999368a1f212846bf25c49a4b370f4eaa372976004dafc458"
  },
  "id": "CHRbgiJJ9l4qHnU9",
  "tags": []
}